body, html {
    height: 100%;
    margin: 0;
}

#game-board {
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(20, 1fr);
    height: 100vh;
}

.cell {
    width: 5vw; /* Set a fixed width for each cell */
    height: 5vh; /* Set a fixed height for each cell */
    border: 1px solid #ddd;
}

.snake, .food {
    width: 100%;
    height: 100%;
}

.snake {
    background-color: green;
}

.food {
    background-color: red;
}

